 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 454px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 148px auto 0 346px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: -32px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -32px auto 0 474px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -64px 474px 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -64px 346px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 15px auto 0 335px;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-text-2 {
  text-align: center;
  margin: -25px auto 0 471px;
}

.u-section-1 .u-list-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-text-3 {
  text-align: center;
  margin: -25px 468px 0 auto;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-text-4 {
  text-align: center;
  margin: -25px 340px 60px auto;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
    margin-left: 280px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
    margin-left: 386px;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
    margin-right: 391px;
    margin-left: 491px;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(0, 0, 0) !important;
    margin-right: 285px;
    margin-left: 597px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 276px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 388px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 385px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-left: 207px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 288px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 299px;
    margin-left: 369px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 218px;
    margin-left: 450px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 196px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 289px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 274px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-left: 108px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 207px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 176px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 97px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 97px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 176px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 106px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 92px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 99px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 79px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 15px;
  }
}